<% provide(:title, 'Menu') %>
<title><%= yield(:title)%></title>
<div class="container" >


  <div class="row">

    <div class="col-xs-12 col-md-12 col-lg-12">
      <ul id="myTab" class="nav nav-pills nav-justified">
        <li>
          <a href=<%=orders_new_path %>>
            订单查询
          </a>
        </li>
        <li class="active">
          <a href="#menu" data-toggle="tab">
            修改菜单
          </a>·
        </li>
        <li>
          <a href=<%=manage_new_path %>>
            库存统计
          </a>
        </li>
      </ul>
      <br/>

      <div class="container">
        <div id="myTabContent" class="tab-content">
          <!-- 这里是相关订单的信息，以表格形式呈现 -->
          <div class = "tab-pane fade" id="order">

          </div>
          <!-- 这里是菜单相关信息，以表格形式呈现-->
          <div class="tab-pane fade in active" id="menu">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>食物图</th>
                <th>名称</th>
                  <th>金额</th>
                  <th>食物折扣</th>
                <th>修改入口</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <button class = "btn btn-danger btn-sm"data-toggle = "modal" data-target = "#tryOnNew" > 增加新的菜单</button>
                  <div class="modal fade" id="tryOnNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">增加菜单</h4>
                        </div>
                        <div class="modal-body">
                          <%@tmp = Menu.new%>
                          <%@tmp.fid = ''%>
                          <%@tmp.fpic = ''%>
                          <%@tmp.fname = ''%>
                          <%@tmp.fprice = ''%>
                          <%@tmp.fctime = ''%>
                          <%= form_for(@tmp, url:menu_create_url) do |f| %>

                            <%= f.label :fid %>
                            <%= f.text_field :fid, class: 'form-control'%>
                            <%= f.label :fname %>
                            <%= f.text_field :fname, class: 'form-control' %>
                            <%= f.label :fpic %>
                            <%= f.text_field :fpic, class: 'form-control' %>
                            <%= f.label :fctime %>
                            <%= f.text_field :fctime, class: 'form-control', :value=>'2019-03-15 00:00:00 +0000' %>
                            <%= f.label :fprice %>
                            <%= f.text_field :fprice, class: 'form-control' %>
                            <br/>
                            <%= f.submit "Save changes", class: "btn btn-primary"%>
                          <% end %>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                  </div>
                </td>
              </tr>
              <% for menus in @menu %>
              <tr>

                <td><%=image_tag(menus.fpic[1,menus.fpic.length-1]+".m.jpg",alt:menus.fpic)%></td>
                <td><%=menus.fname %></td>
                <td><%=menus.fprice %></td>
                <td><%=menus.salecount %></td>
                <td>
                  <button class = "btn btn-primary btn-sm" data-toggle = "modal" data-target = <%='#'+menus.fid.to_s %>  >修改当前食物信息</button>
                  <div class="modal fade" id=<%=menus.fid %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">修改菜单</h4>
                        </div>
                        <div class="modal-body">
                          <%= form_for(menus, url:menu_update_url) do |f| %>
                            <%= render 'shared/error_messages_menu' %>
                            <%= f.label :fid %>
                            <%= f.text_field :fid, class: 'form-control', :readonly=>true %>
                            <%= f.label :fname %>
                            <%= f.text_field :fname, class: 'form-control' %>
                            <%= f.label :fpic %>
                            <%= f.text_field :fpic, class: 'form-control' %>
                            <%= f.label :fctime %>
                            <%= f.text_field :fctime, class: 'form-control', :value => DateTime.strptime(menus.fctime.to_s, '%s').to_time %>
                            <%= f.label :fprice %>
                            <%= f.text_field :fprice, class: 'form-control' %>
                            <br/>
                            <%= f.submit "Save changes", class: "btn btn-primary"%>
                            <%= f.submit "Delete it", class: "btn btn-danger"%>
                          <% end %>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                  </div>
                </td>
              </tr>
              <%end %>

              </tbody>
            </table>
          </div>
          <!-- 这里是库存相关信息，以表格形式呈现-->
          <div class="tab-pane fade" id="stock">

          </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function(){
                $('.datepicker').datepicker();

            });
        </script>



      </div>
    </div>
  </div>
</div>
</div>

<style>
  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
  }
</style>