<% provide(:title, 'Menu') %>
<title><%= yield(:title)%></title>
<div class="container" >


  <div class="row">

    <div class="col-xs-12 col-md-12 col-lg-12">
      <ul id="myTab" class="nav nav-pills nav-justified">
        <li>
          <a href=<%=orders_new_path %>>
            订单查询
          </a>
        </li>
        <li class="active">
          <a href="#menu" data-toggle="tab">
            修改菜单
          </a>
        </li>
        <li>
          <a href=<%=manage_new_path %>>
            库存统计
          </a>
        </li>
      </ul>
      <br/>

      <div class="container">
        <div id="myTabContent" class="tab-content">
          <!-- 这里是相关订单的信息，以表格形式呈现 -->
          <div class = "tab-pane fade" id="order">
            <%= form_for('/menu', :html => {:class => 'form-inline'}) do |f| %>
              <div class="form-group">
                <%= f.label :date, "筛选 | 时间：", :for=>"date" %>
                <%= f.text_field :date, class: "datepicker" %>
              </div>
              <div class="form-group">
              <%= f.label :money_less, "金额下限：" , :for=>"money_less" %>
              <%= f.text_field :money_less %>
              </div>
              <div class="form-group">
              <%= f.label :money_more, "金额上限：" , :for=>"money_more" %>
              <%= f.text_field :money_more %>
              </div>
              <div class="form-group">
              <%= f.label :product, "商品名称及订单号：" , :for=>"money_less" %>
              <%= f.text_field :product %>
              </div>
              <%= f.submit "查询", class: "btn btn-primary btn-sm" %>
            <% end %>
            <div class="container">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>订单号</th>
                  <th>收货人信息</th>
                  <th>金额</th>
                  <th>订单状态</th>
                  <th>订单详情</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>13000</td>
                  <td>收货人手机13100000000
                    收货人地址233333333</td>
                  <td>金额xxxxxx</td>
                  <td>订单配送中/送达/骑手接单</td>
                  <td>订单详情button</td>
                </tr>
                <tr>
                  <td>13000</td>
                  <td>收货人手机13100000000
                    收货人地址233333333</td>
                  <td>金额xxxxxx</td>
                  <td>订单配送中/送达/骑手接单</td>
                  <td>订单详情button</td>
                </tr>
                <tr>
                  <td>13000</td>
                  <td>收货人手机13100000000
                    收货人地址233333333</td>
                  <td>金额xxxxxx</td>
                  <td>订单配送中/送达/骑手接单</td>
                  <td>订单详情button</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 这里是菜单相关信息，以表格形式呈现-->
          <div class="tab-pane fade in active" id="menu">
            <table class="table table-hover">
              <caption>用户订单信息</caption>
              <thead>
              <tr>
                <th>菜单图</th>
                <th>收货人信息</th>
                <th>金额</th>
                <th>订单状态</th>
                <th>订单详情</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>13000</td>
                <td>收货人手机13100000000
                  收货人地址233333333</td>
                <td>金额xxxxxx</td>
                <td>订单配送中/送达/骑手接单</td>
                <td>订单详情button</td>
              </tr>
              <tr>
                <td>13000</td>
                <td>收货人手机13100000000
                  收货人地址233333333</td>
                <td>金额xxxxxx</td>
                <td>订单配送中/送达/骑手接单</td>
                <td>订单详情button</td>
              </tr>
              <tr>
                <td>13000</td>
                <td>收货人手机13100000000
                  收货人地址233333333</td>
                <td>金额xxxxxx</td>
                <td>订单配送中/送达/骑手接单</td>
                <td>订单详情button</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- 这里是库存相关信息，以表格形式呈现-->
          <div class="tab-pane fade" id="stock">
            <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
          </div>

        </div>

        <script type="text/javascript">
            $(document).ready(function(){
                $('.datepicker').datepicker();

            });
        </script>



      </div>
    </div>
  </div>
</div>

<style>
  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
  }
</style>