<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Pizza Express Management Page", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <%= link_to "Menu", menu_path %>
        <%= link_to "Factory", factory_path %>
        <%= link_to "Manage", manage_path %>
        <%= link_to "Log in", '#' %>
      </ul>
    </nav>
  </div>
</header>